.bl-container {
  width: 100%;
  margin: 0 auto;
}

.bl-navbar {
  background-color: white;
  border: 0;
}

.ocean-logo img {
  height: 20px;
}

.jumbotron-bg {
  background-image: url("../img/background-header.jpg");
  margin-bottom: -15px;
}

.jumbotron-text {
  color: white;
  text-align: left;
  margin-top: 10px;
}

.jumbotron-text h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
}

.jumbotron-login {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  height: 400px;
  margin-top: 10px;
}

.jumbotron-login p {
  font-size: 15px;
}

.bg-grey {
  background-color: #F3F5F9;
  height: 500px;
}

.bl-custom-row {
  height: 100px;
}

.bl-custom-row img {
  padding: 30px 0;
  width: 150px;
  vertical-align: middle;
}

.stories {
  margin-top: 20px;
}

.scroll-menu ul li {
  list-style: none;
  margin-left: -30px;
}

.bg-lightblue {
  background-color: #F3F5F9;
}

.droplets img {
  height: 200px;
}


.bg-regions {
  background-color: #0042C0;
  color: white;
}

.regions-row {
  margin-bottom: 30px;
  padding: 10px 30px;
}
.regions-row .row {
  border-top: 1px solid white;
}

.bg-love-ocean {
  background-color: #F3F5F9;
}

.rockerbox-img img {
  height: 50px;
}

.bg-white {
  background-color: white;
}

.bg-footer {
  background-color: #031C4E;
  color: white;
}

.footer-lists ul {
  list-style: none;
}
