/* UTILITY */
.bl-container {
  width: 100%;
  margin: 0 auto;
}

.bg-white {
  background-color: white;
}

.paddings {
  padding: 40px 0px;
}

.glyphs {
  margin-top: 100px;
}

/* ---- HELPBOT ---- */

.helpbot {
  position:fixed;
  bottom:0;
  right:0;
  z-index: 11;
}

/* ---- NAVBAR ---- */
.bl-navbar {
  background-color: white;
  border: 0;
}

.ocean-logo img {
  height: 20px;
}
/* ---- END NAVBAR ---- */

/* ---- JUMBOTRON ---- */
.jumbotron-bg {
  background-image: url("../img/background-header.jpg");
  margin-bottom: -15px;
}

.jumbotron-text {
  color: white;
  text-align: left;

}

.jumbotron-text h1 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}

.jumbotron-login {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  height: 400px;
}

.jumbotron-login p {
  font-size: 15px;
}
/* ---- END JUMBOTRON ---- */

/* ---- INNOVATE + BRANDS LOGOS ---- */
.bg-grey {
  background-color: #F3F5F9;
  height: 100%;
}

.bl-custom-row {
  height: 100px;
}

.bl-custom-row img {
  padding: 30px 0;
  width: 150px;
  vertical-align: middle;
}

.stories {
  margin-top: 20px;
}
/* ---- END INNOVATE + BRANDS LOGOS ---- */

/* ---- DEPLOY AND SCALE ---- */

.scroll-menu ul {
  border-left: 2px solid grey;
  height: 200px;
  margin-bottom: 30px;
}

.scroll-menu ul li {
  list-style: none;
  margin-left: -30px;
  margin-bottom: 25px;
}

.bg-lightblue {
  background-color: #F3F5F9;
}
/* ---- DEPLOY AND SCALE ---- */

/* ---- DESIGNED FOR DEVELOPERS ---- */

.droplets {
  width: 80%;
  margin:0 auto;
}
.droplets img {
  width: 100%;
  height: auto;
}
.slider-box {
  position: relative;
  height: 100%;
}
.slider-arrow-left, .slider-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
}

.slider-arrow-left {
  left: 0;
}

.slider-arrow-right {
  right: 0;
}
/* ---- DESIGNED FOR DEVELOPERS ---- */

/* ---- REGION SERVICE ---- */
.bg-regions {
  background-color: #0042C0;
  color: white;
}

.regions-row {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  padding: 10px 10px;
}
.regions-row .row {
  border-top: 1px solid white;
}
/* ---- REGION SERVICE ---- */

/* ---- ROCKERBOX ---- */
.bg-love-ocean {
  background-color: #F3F5F9;
  height: 600px;
}

.rockerbox-container {
  width: 80%;
  margin:0 auto;
}
.rockerbox-img img {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

/* ---- ROCKERBOX ---- */


/* ---- FOOTER ---- */
.bg-footer {
  background-color: #031C4E;
  color: white;
}

.footer-lists ul {
  list-style: none;
  margin-left: -40PX;
}
/* ---- FOOTER ---- */
