.bl-container {
  width: 100%;
  margin: 0 auto;
}

.bl-navbar {
  background-color: white;
  border: 0;
}

.ocean-logo img {
  height: 20px;
}

.background-jumbotron {
  background-image: url("img/background-header.jpg");
  height: 300px;
}

.jumbotron-bg {
  background-image: url("../img/background-header.jpg");
  height: 600px;
}

.jumbotron-login {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  height: 400px;
  margin-top: 50px;
}
