.bl-container {
  width: 100%;
  margin: 0 auto;
}

.bl-navbar {
  background-color: white;
  border: 0;
}

.ocean-logo img {
  height: 20px;
}

.jumbotron-bg {
  background-image: url("../img/background-header.jpg");
  height: 600px;
  margin-bottom: -30px;
}

.jumbotron-text {
  color: white;
  text-align: left;
  margin-top: 50px;
}

.jumbotron-text h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
}

.jumbotron-login {
  background-color: white;
  border-radius: 5px;
  text-align: center;
  height: 400px;
  margin-top: 50px;
}

.jumbotron-login p {
  font-size: 15px;
}

.bg-grey {
  background-color: #F3F5F9;
  height: 300px;
}
.brands-logo {
  height: 150px;
  padding-top: 50px;
  background-color: #F3F5F9;
}
.brands-logo > img {
  width: 100%;
}
